@model ProjetoAspNetMVC.Models.TarefaCadastroModel

@{
    ViewData["Title"] = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Cadastro de tarefas do usuário</h5>
Preencha o formulário para incluir tarefas
<br />
<br />

@using (Html.BeginForm("Cadastro", "Tarefa", FormMethod.Post, new { @autocomplete = "off" }))
 {
    <div class="row">
        <div class="col-md-6">
            <label>Nome da Tarefa:</label>
            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Nome)
            </span>
        </div>
        <div class="col-md-3">
            <label>Data da Tarefa:</label>
            @Html.TextBoxFor(model => model.Data, new { @class = "form-control", @type = "date" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Data)
            </span>
        </div>
        <div class="col-md-3">
            <label>Hora da Tarefa:</label>
            @Html.TextBoxFor(model => model.Hora,
                new { @class = "form-control", @type = "time" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Hora)
            </span>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-6">
            <label>Descrição da Tarefa:</label>
            @Html.TextAreaFor(model => model.Descricao, new { @class = "form-control" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Descricao)
            </span>
        </div>
        <div class="col-md-3">
            <label>Prioridade da Tarefa:</label>
            @Html.DropDownListFor(model => model.Prioridade,Html. GetEnumSelectList(typeof(ProjetoAspNetMVC.Models.PrioridadeTarefa)), "Escolha uma opção", new { @class = "form-select" })
        </div>
    </div>
    <br />

    <input type="submit" value="Cadastrar Tarefa" class="btn btn-success" />
 }