@model List<ProjetoAspNetMVC.Repository.Entities.Tarefa>

    @{
    ViewData["Title"] = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h5>Consulta de tarefas do usuário</h5>
    Pesquise as tarefas cadastradas
    <br />
    <br />

    <table id="tabela" class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Nome da tarefa</th>
                <th>Data</th>
                <th>Hora</th>
                <th>Prioridade</th>
                <th>Descrição</th>
                <th>Operações</th>
            </tr>
        </thead>
        <tbody>
           @foreach (var item in Model)
           {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Data.ToString("ddd, dd/MM/yyyy")</td>
                <td>@item.Hora.ToString(@"hh\:mm")</td>
                <td>
                    @if (item.Prioridade.Equals("ALTA"))
                    {
                    <span class="badge bg-danger">ALTA</span>
                    }
                    else if (item.Prioridade.Equals("MEDIA"))
                    {
                    <span class="badge bg-warning">MÉDIA</span>
                    }
                    else if (item.Prioridade.Equals("BAIXA"))
                    {
                    <span class="badge bg-success">BAIXA</span>
                    }
                </td>
                <td>@item.Descricao</td>
                <td>
                    <a href="/Tarefa/Edicao?id=@item.IdTarefa"
                        class="btn btn-primary btn-sm">
                        Editar
                    </a>
                    <a href="/Tarefa/Exclusao?id=@item.IdTarefa" onclick="return
                        confirm('Deseja excluir a tarefa?');"
                        class="btn btn-danger btn-sm">
                        Excluir
                    </a>
                </td>

            </tr>
           }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">
                    Quantidade de tarefas: @Model.Count()
                </td>
            </tr>
        </tfoot>
    </table>